#inputFields > form > section {
    width: 14%;
    display: inline-block;
}

table {
    width: 100%;
    margin: 1% auto;
    border-collapse: collapse;
}

    tr > * {
        border: 1px solid black;
    }

    th {
        width: 10%;
    }

