#inputFields {
    height: 10vh;
}

#inputFields > form > section {
    width: 14%;
    display: inline-block;
}

#table {
    max-height: 80vh;
    overflow-y: scroll;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
    th {
        width: 10%;
        position: sticky;
        background: white;
        top: 0;
    }

    th > section {
        width: 80%;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .sort {
        width: 10%;
    }

    .sort > button {
        padding: 0;
        border: 0;
        display: block;
    }

    .editing {
        background-color: yellow;
    }

    table,
    td,
    th {
        box-shadow: 1px 1px black, inset 1px 1px black;
    }

